<template>
  <!-- 表单 -->
  <el-form label-width="120px">
    <el-form ref="addForm" :model="formData" :rules="rules" label-width="120px">
      <el-form-item label="姓名" prop="username">
        <el-input v-model="formData.username" style="width:50%" placeholder="请输入姓名" />
      </el-form-item>
      <el-form-item label="手机" prop="mobile">
        <el-input v-model="formData.mobile" style="width:50%" placeholder="请输入手机号" />
      </el-form-item>
      <el-form-item label="入职时间" prop="timeOfEntry">
        <el-date-picker v-model="formData.timeOfEntry" style="width:50%" placeholder="请选择入职时间" />
      </el-form-item>
      <el-form-item label="聘用形式" prop="formOfEmployment">
        <el-select v-model="formData.formOfEmployment" style="width:50%" placeholder="请选择">
          <el-option
            v-for="item in hireType"
            :key="item.id"
            :label="item.value"
            :value="item.id"
          />
        </el-select>
      </el-form-item>
      <el-form-item label="工号" prop="workNumber">
        <el-input v-model="formData.workNumber" style="width:50%" placeholder="请输入工号" />
      </el-form-item>
      <el-form-item label="部门" prop="departmentName">
        <el-input
          v-model="formData.departmentName"
          style="width:50%"
          placeholder="请选择部门"
          @focus="departmentNameFocus"
        />
        <div v-if="showTree" class="tree-box">
          <el-tree
            :data="treeData"
            :props="{ label: 'name' }"
            @node-click="hNodeClick"
          />
        </div>
      </el-form-item>
      <el-form-item label="转正时间" prop="correctionTime">
        <el-date-picker v-model="formData.correctionTime" style="width:50%" placeholder="请选择转正时间" />
      </el-form-item>
    </el-form>
    <el-form-item>
      <el-button @click="cancel">取消</el-button>
      <el-button type="primary" @click="hSubmit">确定</el-button>
    </el-form-item>
  </el-form>
</template>

<script>
import employees from '@/constant/employees'

import { getDepartments, addEmployee } from '@/api'

// 引入树形结构转换方法
import { tranListToTreeData } from '@/utils'

export default ({
  data() {
    return {
      formData: { // 表单数据
        username: '', // 用户名
        mobile: '', // 手机号
        formOfEmployment: '', // 聘用形式
        workNumber: '', // 工号
        departmentName: '', // 部门
        timeOfEntry: '', // 入职时间
        correctionTime: '' // 转正时间
      },
      rules: { // 定义规则
        username: [
          { required: true, message: '用户姓名不能为空', trigger: 'blur' },
          { min: 1, max: 4, message: '用户姓名为1-4位', trigger: 'blur' }
        ],
        mobile: [
          { required: true, message: '手机号不能为空', trigger: 'blur' },
          { pattern: /^1[3-9]\d{9}$/, message: '手机号格式不正确', trigger: 'blur' }
        ],
        formOfEmployment: [
          { required: true, message: '聘用形式不能为空', trigger: 'blur' }
        ],
        workNumber: [
          { required: true, message: '工号不能为空', trigger: 'blur' }
        ],
        departmentName: [
          { required: true, message: '部门不能为空', trigger: 'change' }
        ],
        timeOfEntry: [
          { required: true, message: '请选择入职时间', trigger: 'blur' }
        ]
      },
      treeData: [], // 部门选择
      showTree: false // 控制部门显示
    }
  },
  computed: {
    hireType() { // 聘用形式
      return employees.hireType
    }
  },
  methods: {
    cancel() { // 点击取消
      this.$emit('close')
    },
    hSubmit() { // 点击确认
      this.$refs.addForm.validate(async(boo) => { // 兜底校验
        if (boo) {
          // 发请求
          try {
            const res = await addEmployee(this.formData)
            this.$message.success(res.message)
            this.$emit('addfn')
          } catch (err) {
            this.$message.error(err) // 后台报错
          }
        } else {
          this.$message.error('表单填写错误')
        }
      })
    },
    async treefn() { // 获取到树状数据
      try {
        const res = await getDepartments()
        this.treeData = tranListToTreeData(res.data.depts)
      } catch (err) {
        console.log(err)
      }
    },
    departmentNameFocus() { // 获取焦点触发
      this.showTree = true
      this.treefn()
    },
    hNodeClick(data) { // 	节点被点击时的回调
      // 如果当前部门还有子部门，则不能选中
      if (data.children.length) {
        return // 阻断赋值
      }
      this.formData.departmentName = data.name // 表单赋值
      this.showTree = false // 关闭tree
    },
    resetForm() { // 清空表单状态
      this.formData = { // 表单的数据项清空
        username: '', // 用户名
        mobile: '', // 手机号
        formOfEmployment: '', // 聘用形式
        workNumber: '', // 工号
        departmentName: '', // 部门
        timeOfEntry: '', // 入职时间
        correctionTime: '' // 转正时间
      }
      this.$refs.addForm.resetFields() // 清空表单验证
    }
  }
})
</script>
