<template>
  <div>
    <!--
      show-file-list: 是否显示上传的文件列表
      action: '#' 用来指定文件要上传的地址，由于我们需要定制上传动作,这里设为#
      :http-request：自定义上传行为（重点）
      on-success: 上传成功之后的回调
      before-upload： 上传之前的检查
      :on-success="handleAvatarSuccess"
    -->
    <el-upload
      class="avatar-uploader"
      action="#"
      :show-file-list="false"
      :before-upload="beforeAvatarUpload"
      :http-request="upload"
    >
      <img v-if="value" :src="value" class="avatar">
      <i v-else class="el-icon-plus avatar-uploader-icon" />
      <!-- 上传进度条 -->
      <el-progress v-if="showProgress" :percentage="percent" />
      <!-- 上传进度条 -->
    </el-upload>
  </div>
</template>

<script>
// 下面的代码是固定写法
const COS = require('cos-js-sdk-v5')
// 填写自己腾讯云cos中的key和id (密钥)
const cos = new COS({
  SecretId: 'AKIDkMlwtb4JK6dx2sTqzua1DBuOeehZCaib', // 身份识别ID
  SecretKey: 'hAUlpfIhsoWzEF2atyoRp9HAoDOOAh04' // 身份秘钥
})

export default {
  props: {
    value: {
      type: String,
      required: true
    }
  },
  data() {
    return {
      imageUrl: '', // 页面图片显示
      percent: 0, // 进度条百分比
      showProgress: false // 进度条开关
    }
  },
  methods: {
    upload(res) { // 点击上传文件事件
      // 自己去写上传的逻辑
      if (res.file) {
        this.showProgress = true // 上传开始开启进度条

        // 执行上传操作:cos.putObject 是腾讯云存储的固定api
        cos.putObject({
          Bucket: 'ninjia250-1305998111', /* 存储桶的名字 */
          Region: 'ap-beijing', /* 存储桶所在地域，必须字段 */
          Key: res.file.name, /* 文件名 */
          StorageClass: 'STANDARD', // 上传模式, 标准模式
          Body: res.file, // 上传文件对象
          onProgress: (progressData) => { // 上传进度回调
            this.percent = progressData.percent * 100
            // console.log('当前上传的进度', JSON.stringify(progressData))
          }
        }, (err, data) => { // err失败,data成功
          console.log(err || data)

          if (data.statusCode === 200) { // 上传成功后 设置图片
            const imageUrl = `https:${data.Location}`
            this.$emit('input', imageUrl)
          }
          this.showProgress = false // 上传完成关闭进度条
        })
      }
    },
    beforeAvatarUpload(file) { // 上传图片要求
      // const isPNG = file.type === 'image/png'
      // const isLt2M = file.size / 1024 / 1024 < 2
      // if (!isPNG) {
      //   this.$message.error('上传头像图片只能是 PNG 格式!')
      // }
      // if (!isLt2M) {
      //   this.$message.error('上传头像图片大小不能超过 2MB!')
      // }
      // return isPNG && isLt2M
      return true
    }
  }
}
</script>

<style>
.avatar-uploader .el-upload {
  border: 1px dashed #d9d9d9;
  border-radius: 6px;
  cursor: pointer;
  position: relative;
  overflow: hidden;
}
.avatar-uploader .el-upload:hover {
  border-color: #409eff;
}
.avatar-uploader-icon {
  font-size: 28px;
  color: #8c939d;
  width: 178px;
  height: 178px;
  line-height: 178px;
  text-align: center;
}
.avatar {
  width: 178px;
  height: 178px;
  display: block;
}
</style>
