<template>
  <div class="department-container">
    <div class="app-container">
      <el-card>
        <!-- 用一个行列布局 -->
        <el-row
          type="flex"
          justify="space-between"
          align="middle"
          style="height: 40px"
        >
          <el-col :span="20">
            <svg-icon icon-class="home" /><span>江苏传智播客教育科技股份有限公司</span>
          </el-col>
          <el-col :span="4">
            <el-row type="flex" justify="end">
              <!-- 两个内容 -->
              <el-col>负责人</el-col>
              <!-- 下拉菜单 element -->
              <el-col>
                <el-dropdown>
                  <span> 操作<i class="el-icon-arrow-down" /> </span>
                  <el-dropdown-menu slot="dropdown">
                    <el-dropdown-item>添加子部门</el-dropdown-item>
                  </el-dropdown-menu>
                </el-dropdown>
              </el-col>
            </el-row>
          </el-col>
        </el-row>

        <el-tree :data="list" :default-expand-all="true">
          <!-- 作用域插槽 data拿到的是每一个子节点的对象 -->
          <!--
      什么时候用到作用域插槽？父组件中如果想使用子组件中的数据进行自定义内容的渲染 (类似于table 单元格数据渲染)
    -->
          <template #default="{ data }">
            <el-row
              type="flex"
              justify="space-between"
              align="middle"
              style="height: 40px; width: 100%"
            >
              <el-col :span="20">
                <span>{{ data.name }}</span>
              </el-col>
              <el-col :span="4">
                <el-row type="flex" justify="end">
                  <!-- 两个内容 -->
                  <el-col>{{ data.manager }}</el-col>
                  <el-col>
                    <!-- 下拉菜单 element -->
                    <el-dropdown>
                      <span> 操作<i class="el-icon-arrow-down" /> </span>
                      <!-- 下拉菜单 -->
                      <el-dropdown-menu slot="dropdown">
                        <el-dropdown-item @click.native="addfn(data.id)">添加子部门</el-dropdown-item>
                        <el-dropdown-item @click.native="editfn(data.id)">编辑部门</el-dropdown-item>
                        <el-dropdown-item
                          v-if="data.children.length===0"
                          @click.native="deletefn(data.id)"
                        >删除部门</el-dropdown-item>
                      </el-dropdown-menu>
                    </el-dropdown>
                  </el-col>
                </el-row>
              </el-col>
            </el-row>
          </template>
        </el-tree>
      </el-card>
    </div>

    <el-dialog
      :title=" isEdit ? '编辑' : '添加'"
      :close-on-click-modal="false"
      :close-on-press-escape="false"
      :visible.sync="showDialog"
      @close="Forkfork"
    >
      <Dep
        :id="curId"
        ref="box"
        :list="cllist"
        :isedit="isEdit"
        @closefn="closefn"
      />
    </el-dialog>
  </div>
</template>
<script>
import { getDepartments, delDepartment } from '@/api/departments'
import { tranListToTreeData } from '@/utils/index'
import Dep from './deptDialog'
export default {
  components: {
    Dep
  },
  data() {
    return {
      // 依赖一份树形数据
      list: [],
      cllist: [], // 精简后的值
      showDialog: false, // 控制弹框的显示
      curId: '', // 当前操作的部门id
      isEdit: false // 控制标题显示
    }
  },
  created() {
    // 获取部门人员信息
    this.getlist()
  },
  methods: {
    async getlist() { // 展示数据
      try {
        const rs = await getDepartments()

        this.cllist = rs.data.depts.map(({ id, pid, code, name }) => { return { id, pid, code, name } })
        const root = rs.data.depts.shift() // 把-1对象切割出来

        const children = tranListToTreeData(rs.data.depts) // 创建下级
        root.children = children // 把下级添加到 -1 对象里

        this.list = [root] // 对象放到数组中 赋值
      } catch (err) {
        console.log(err)
      }
    },
    addfn(id) { // 添加部门
      this.curId = id
      this.showDialog = true
      this.isEdit = false
    },
    editfn(id) { // 编辑部门
      this.curId = id
      this.isEdit = true
      this.showDialog = true
      // props的传递是异步的  要想获得refs 得用next处理下
      // this.$nextTick(
      //   () => {
      //     this.$refs.box.editfn()
      //   }
      // )
    },
    deletefn(id) { // 删除部门
      this.$confirm('此操作将永久删除部门, 是否继续?', '提示', {
        confirmButtonText: '确定',
        cancelButtonText: '取消',
        type: 'warning'
      }).then(async() => {
        // 做删除
        try {
          await delDepartment(id)
          this.getlist()
          this.$message({ type: 'success', message: '删除成功!' })
        } catch (err) {
          this.$message({ type: 'error', message: '删除失败' })
        }
      }).catch(() => {
      })
    },
    closefn() { // 关闭弹出层
      this.showDialog = false
      this.getlist() // 展示数据
    },
    Forkfork() { // 点XX关闭执行
      this.curId = '' // 清空部门id
      this.$refs.box.deptFormfn() // 清除表单校验状态
    }
  }
}
</script>
