<template>
  <div>
    <el-form ref="deptForm" label-width="120px" :rules="rules" :model="form">
      <el-form-item label="部门名称" prop="name">
        <el-input
          v-model="form.name"
          style="width: 80%"
          placeholder="1-50个字符"
        />
      </el-form-item>
      <el-form-item label="部门编码" prop="code">
        <el-input
          v-model="form.code"
          style="width: 80%"
          placeholder="1-50个字符"
        />
      </el-form-item>
      <el-form-item label="部门负责人" prop="manager">
        <el-select
          v-model="form.manager"
          style="width: 80%"
          placeholder="请选择"
        >
          <el-option
            v-for="item in data"
            :key="item.id"
            :value="item.username"
            :label="item.username"
          />
          <!-- label 控制用户能看到的内容 -->
          <!-- value 控制保存在变量中的值 -->
        </el-select>
      </el-form-item>
      <el-form-item label="部门介绍" prop="introduce">
        <el-input
          v-model="form.introduce"
          style="width: 80%"
          placeholder="1-300个字符"
          type="textarea"
          :rows="3"
        />
      </el-form-item>
      <el-form-item>
        <el-button type="primary" size="small" @click="hSubmit">确定</el-button>
        <el-button size="small" @click="hCancel">取消</el-button>
      </el-form-item>
    </el-form>
  </div>
</template>

<script>
import { getEmployeeSimple, addDepartments, getDepartDetail, updateDepartments } from '@/api/departments'
export default {
  props: {
    id: {
      type: String,
      require: true,
      default: ''
    },
    isedit: {
      type: Boolean,
      require: true,
      default: false
    },
    list: {
      type: Array,
      require: true,
      default: Array
    }
  },
  data() {
    const validName = (rule, value, callback) => { // 部门名字 校验规则
      // 拿到当前编辑部门的下级部门名字
      let lower = this.list.filter(item => item.pid === this.id).map(item => item.name)

      if (this.isedit) { // 编辑部门时
        const My = this.list.find(item => item.id === this.id) // 找到自己
        const pid = My.pid // 拿到自己的pid
        // 根据自己的pid和id过滤出同级,不含自己的部门名字
        lower = this.list.filter(item => item.pid === pid && item.id !== this.id).map(item => item.name)
      }

      // 判断名字是否和当前新增或编辑时部门名冲突
      if (lower.includes(value)) {
        callback(new Error('名字' + value + '已经被占用了'))
      } else {
        callback()
      }
    }
    const validCode = (rule, value, callback) => { // 部门编码校验规则
      this.DtCode = this.list.map(item => item.code)

      if (this.isedit) { // 编辑部门时
        // 把除了当前部门的 编码取出 , 修改成只有编码的数组
        this.DtCode = this.list.filter(item => item.id !== this.id).map(item => item.code)
      }

      this.DtCode.includes(value) ? callback(new Error('编码' + value + '已经存在')) : callback()
    }
    return {
      form: {
        name: '', // 部门名称
        code: '', // 部门编码
        manager: '', // 部门管理者
        introduce: '' // 部门介绍
      },
      data: [],
      DtCode: [], // 保存 部门编码
      rules: {
        name: [
          { required: true, message: '部门名称不能为空', trigger: 'blur' },
          { min: 1, max: 50, message: '部门名称要求1-50个字符', trigger: 'blur' },
          { validator: validName, trigger: 'blur' }
        ],
        code: [
          { required: true, message: '部门编码不能为空', trigger: 'blur' },
          { min: 1, max: 50, message: '部门编码要求1-50个字符', trigger: 'blur' },
          { validator: validCode, trigger: 'blur' }
        ],
        manager: [
          { required: true, message: '部门负责人不能为空', trigger: 'blur' }
        ],
        introduce: [
          { required: true, message: '部门介绍不能为空', trigger: 'blur' },
          { min: 1, max: 300, message: '部门介绍要求1-300个字符', trigger: 'blur' }
        ]
      }
    }
  },
  watch: {
    id: {
      immediate: true, // 立即侦听
      deep: true, // 深度侦听 (对象里面层的值改变)
      handler() { // 变量名对应值改变这里的代码自带触发
        this.editfn()
      }
    }
  },

  async created() {
    const res = await getEmployeeSimple() // 获取到人员数据
    this.data = res.data
  },
  methods: {
    hSubmit() { // 点击确认
      this.$refs.deptForm.validate(boo => {
        if (boo) { // 兜底校验
          this.isedit ? this.doEdit() : this.doAdd()
        } else {
          return
        }
        this.$emit('closefn') // 关闭弹出层
      })
    },
    hCancel() { // 点击取消
      this.$emit('closefn') // 关闭弹出层
    },
    async editfn() { // 获取编辑部门的数据然后进行回填
      if (this.isedit) {
        const res = await getDepartDetail(this.id)
        this.form = res.data
      }
    },
    async doAdd() { // 添加部门
      await addDepartments({ ...this.form, pid: this.id })
      this.$emit('closefn') // 关闭弹出层
    },
    async doEdit() { // 修改部门
      try {
        await updateDepartments(this.form)
        this.$message({ type: 'success', message: '修改成功' })
        this.$emit('closefn') // 关闭弹出层
      } catch (err) {
        this.$message({ type: 'error', message: err })
      }
    },
    deptFormfn() { // 清空表单验证
      this.$refs.deptForm.resetFields()
    }
  }
}
</script>

<style>
</style>
