<template>
  <div class="dashboard-container">
    <div class="app-container">
      <el-card>
        <el-tabs>
          <!-- 放置页签 -->
          <el-tab-pane label="角色管理">
            <!-- 新增角色按钮 -->
            <el-row style="height:60px">
              <el-button
                icon="el-icon-plus"
                size="small"
                type="primary"
                @click="addfn"
              >新增角色
              </el-button>
            </el-row>
            <!-- 表格 -->
            <el-table :data="tableData">
              <el-table-column label="序号" width="120" type="index">
                <template slot-scope="scope">
                  {{ numfn(scope) }}
                </template>

              </el-table-column>
              <el-table-column label="角色名称" prop="name" width="240" />
              <el-table-column label="描述" prop="description" />
              <el-table-column label="操作">
                <template slot-scope="scope">
                  <el-button size="small" type="success" @click="allot(scope.row.id)">分配权限</el-button>
                  <el-button size="small" type="primary" @click="editfn(scope.row)">编辑</el-button>
                  <el-button size="small" type="danger" @click="delfn(scope.row.id)">删除</el-button>
                </template>
              </el-table-column>
            </el-table>

            <el-row type="flex" justify="center" align="middle" style="height: 60px">
              <!-- 分页组件 -->
              <el-pagination
                layout="prev,pager,next"
                :page-size="pageParams.pagesize"
                :total="total"
                @current-change="cufn"
              />
            </el-row>
          </el-tab-pane>
        </el-tabs>
      </el-card>
      <!-- 新增弹框 -->
      <el-dialog
        :title="cTitle"
        :close-on-click-modal="false"
        :close-on-press-escape="false"
        :visible.sync="showDialog"
        @close="closefn"
      >
        <el-form ref="roleForm" :model="roleForm" :rules="rules" label-width="100px">
          <el-form-item label="角色名称" prop="name">
            <el-input v-model="roleForm.name" />
          </el-form-item>
          <el-form-item label="角色描述">
            <el-input v-model="roleForm.description" />
          </el-form-item>
        </el-form>
        <!-- 底部 -->
        <el-row slot="footer" type="flex" justify="center">
          <el-col :span="6">
            <el-button size="small" @click="cancel">取消</el-button>
            <el-button size="small" type="primary" @click="hSubmit">确定</el-button>
          </el-col>
        </el-row>
      </el-dialog>
      <!-- 新增弹框 -->
      <el-dialog
        title="分配权限"
        :close-on-click-modal="false"
        :close-on-press-escape="false"
        :visible.sync="showDialogtwo"
        @close="closefnTwo"
      >
        <AssignPermission
          v-if="showDialogtwo"
          :id="id"
          @clone="cancelTwo"
        />
      </el-dialog>
    </div>
  </div>
</template>

<script>
import { getRoles, deleteRole, addRole, updateRole } from '@/api'
import AssignPermission from './assignPermission'
export default ({
  components: {
    AssignPermission
  },
  data() {
    return {
      id: '',
      activeName: 'first',
      tableData: [], // 所有角色信息
      total: 0, // 总数据量
      pageParams: { page: 1, pagesize: 2 }, // 请求分页配置
      showDialog: false, // 控制弹出层显示
      showDialogtwo: false, // 控制弹出层显示
      roleForm: {
        name: '',
        description: ''
      }, // 表单数据
      rules: {
        name: [{ required: true, message: '角色名称不能为空', trigger: 'blur' }]
      },
      isEdit: false
    }
  },
  computed: {
    cTitle() {
      return this.isEdit ? '编辑角色信息' : '新增角色'
    }
  },
  created() {
    this.loadRoles()
  },
  methods: {
    async loadRoles() { // 请求分页数据
      const res = await getRoles(this.pageParams)
      this.total = res.data.total
      this.tableData = res.data.rows // 保存数据
    },
    cufn(pag) { // 切换分页
      this.pageParams.page = pag
      this.loadRoles()
    },
    delfn(id) { // 角色删除功能
      this.$confirm('此操作将永久删除, 是否继续?', '提示', {
        confirmButtonText: '确定',
        cancelButtonText: '取消',
        type: 'warning' //! 图标
      }).then(async() => {
        try {
          const res = await deleteRole(id)
          this.$message.success(res.message) // 删除成功

          if (this.tableData.length === 1) { // 当前页码数据只剩一条请求上一页
            this.pageParams.page--
            if (this.pageParams.page <= 0) { // 页面不能为零,最少请求第一页的数据
              this.pageParams.page = 1
            }
          }

          this.loadRoles() // 重新加载页面
        } catch {
          this.$message.error('删除失败')
        }
      }).catch(() => {})
    },
    editfn(obj) { // 编辑角色功能
      this.isEdit = true
      this.showDialog = true
      this.roleForm = { ...obj }
    },
    addfn() { // 新增角色功能
      this.showDialog = true
      this.isEdit = false
    },
    async  hSubmit() { // 表单点击确认功能
      if (this.$refs.roleForm.validate()) {
        if (this.isEdit) {
          try {
            const res = await updateRole(this.roleForm)
            this.loadRoles()
            this.showDialog = false
            this.$message.success(res.message)
          } catch (err) {
            this.$message.error(err)
          }
        } else {
          try {
            const res = await addRole(this.roleForm)
            this.loadRoles()
            this.showDialog = false
            this.$message.success(res.message)
          } catch (err) {
            this.$message.error(err)
          }
        }
      }
    },
    cancel() { // 表单点击取消功能
      this.showDialog = false
    },
    closefn() { // 表单关闭触发
      this.roleForm = { name: '',
        description: '' }
      this.$refs.roleForm.resetFields() // 清空表单验证
    },
    allot(id) {
      console.log(id)
      this.id = id
      this.showDialogtwo = true
    },
    cancelTwo() {
      this.showDialogtwo = false
    },
    closefnTwo() {
    },
    numfn(scope) { // 计算当前数据的序号
      // 通过作用域插槽传值
      // 每页多少条数据 *  现在所处的页码减1 加上 当前数据的索引值 加 1
      return this.pageParams.pagesize * (this.pageParams.page - 1) + scope.$index + 1
    }
  }

})
</script>
