<template>
  <!-- // 分配角色 -->
  <div>
    <el-checkbox-group v-model="roleIds">
      <el-checkbox
        v-for="item in checkList"
        :key="item.id"
        :label="item.id"
      >{{ item.name }}
      </el-checkbox>
    </el-checkbox-group>

    <div style="margin-top: 20px; text-align: right">
      <el-button type="primary" @click="confirm">确定</el-button>
      <el-button @click="closeDialog">取消</el-button>
    </div>
  </div>
</template>
<script>
import { getRoles, getUserDetailByIdAPI, assignRoles } from '@/api'
export default {
  props: {
    id: {
      type: String,
      required: true
    }
  },
  data() {
    return {
      roleIds: [], // 当前选中的
      checkList: [] // 所有的
    }
  },
  created() {
    this.getlist()
  },
  methods: {
    closeDialog() { // 点击取消按钮
      this.$emit('close')
    },
    async confirm() { // 点击确认按钮
      try {
        const res = await assignRoles({ id: this.id, roleIds: this.roleIds }) // 更新角色
        this.$emit('close')
        this.$message.success(res.message)
      } catch (error) {
        this.$message.error(error)
      }
    },
    async getlist() { // 获取所有角色
      const checkList = await getRoles({ page: 1, pagesize: 100 }) // 获取所有角色
      const roleIds = await getUserDetailByIdAPI(this.id) // 获取员工已有角色
      this.checkList = checkList.data.rows
      this.roleIds = roleIds.data.roleIds ? roleIds.data.roleIds : []
    }
  }
}
</script>
