<template>

  <el-image :src="src" class="img-container">
    <!-- error插槽：设置如果出错，要显示的内容 -->
    <template #error>
      <img src="./head.png" alt="">
    </template>

  </el-image>

</template>

<script>
export default {
  props: {
    src: {
      type: String,
      default: ''
    }
  }
}
</script>

<style scoped lang="scss">
.img-container {
  border-radius: 50%;
  img{
    width: 100%;
  }
}
</style>

