<template>
  <div class="department-container">
    <div class="app-container">
      <PageTools>
        <template v-slot:left>传到left的内容</template>
        <template #right>
          <el-button
            v-allow="'handleSuccess'"
            type="primary"
            size="small"
            @click="btnExcel"
          >
            <UploadExcel
              ref="excel"
              :on-success="handleSuccess"
            />
            导入excel
          </el-button>
          <el-button
            v-allow="'exportfn'"
            type="primary"
            size="small"
            @click="exportfn"
          >
            导出excel
          </el-button>
          <el-button
            v-allow="'added'"
            type="primary"
            size="small"
            @click="showDialog=true"
          >新增员工</el-button>
        </template>
      </PageTools>
      <el-card style="margin-top: 10px;">
        <!-- 具体页面结构 -->
        <el-table v-loading="loading" :data="list" border>
          <el-table-column label="序号" type="index">
            <template slot-scope="scope">
              {{ numfn(scope) }}
            </template>
          </el-table-column>
          <el-table-column label="姓名" prop="username" />
          <el-table-column label="头像">
            <template slot-scope="scope">
              <ImageHolder
                :src="scope.row.staffPhoto"
              />
            </template>
          </el-table-column>
          <el-table-column label="工号" prop="workNumber" />
          <el-table-column label="聘用形式">
            <template slot-scope="scope">
              <!-- 把当前代号传入方法中 -->
              {{ formatEmployment(scope.row.formOfEmployment) }}
            </template>
          </el-table-column>
          <el-table-column label="部门" prop="departmentName" />
          <el-table-column sortable label="入职时间" prop="timeOfEntry" />
          <el-table-column label="操作" width="280">
            <template slot-scope="scope">
              <el-button
                type="text"
                size="small"
                @click="$router.push('/employees/detail?id='+scope.row.id)"
              >
                查看
              </el-button>
              <el-button type="text" size="small" @click="hEditRole(scope.row.id)">
                分配角色
              </el-button>
              <el-button type="text" size="small" @click="hDel(scope.row.id)">删除</el-button>
            </template>
          </el-table-column>
        </el-table>
        <!-- 分页组件 -->
        <el-row type="flex" justify="center" align="middle" style="height: 60px">
          <el-pagination
            :total="total"
            :page-size="pageParams.size"
            layout="prev, pager, next"
            @current-change="cufn"
          />
        </el-row>
      </el-card>
    </div>
    <!-- 弹出层 -->
    <el-dialog
      title="新增员工"
      :visible.sync="showDialog"
      :close-on-click-modal="false"
      :close-on-press-escape="false"
      @close="closefn"
    >
      <addor-edit
        ref="addorEdit"
        @close="showDialog=false"
        @addfn="addfn"
      />
    </el-dialog>
    <!-- 弹出层 -->

    <!-- 弹出层 -->
    <el-dialog
      title="分配角色"
      :close-on-click-modal="false"
      :close-on-press-escape="false"
      :visible.sync="showDialogRole"
      @close="roleClose"
    >
      <AssignRole
        v-if="showDialogRole"
        :id="id"
        @close="showDialogRole = false"
      />
    </el-dialog>
    <!-- 弹出层 -->

  </div>
</template>

<script>
import ImageHolder from '@/components/ImageHolder'
import { formatExcelDate } from '@/utils'
import { reqGetEmployeeList, delEmployee, importEmployee } from '@/api'
import EmployeeEnum from '@/constant/employees'
import AssignRole from './assignRole'
import addorEdit from './empDialog'
const hireType = {}

// 遍历数组 ,  给一个对象的属性名 设为 id值 , 值为  value值
EmployeeEnum.hireType.forEach(item => { hireType[item.id] = item.value })

export default ({
  // name: 'Import',
  components: {
    ImageHolder,
    AssignRole,
    addorEdit
  },
  data() {
    return {
      id: '', // 员工id
      showDialogRole: false, // 控制分配角色弹出层
      list: [], // 员工数据
      loading: false, // 控制加载
      pageParams: {
        size: 5,
        page: 1
      },
      total: 30, // 总数据数
      showDialog: false // 控制新增员工弹出层的显示
    }
  },
  created() {
    this.loadEmployeeList()
  },
  methods: {
    async loadEmployeeList() { // 展示数据
      try {
        this.loading = true // 加载中
        const res = await reqGetEmployeeList(this.pageParams)
        this.total = res.data.total // 总数据数
        this.list = res.data.rows

        this.loading = false // 加载完成
      } catch (err) {
        console.log(err)
      }
    },
    formatEmployment(id) { // 找到对象中对应的属性
      return hireType[id]
    },
    hDel(id) { // 删除员工
      this.$confirm('此操作将永久删除, 是否继续?', '提示', {
        confirmButtonText: '确定',
        cancelButtonText: '取消',
        type: 'warning' //! 图标
      }).then(async() => {
        try {
          const res = await delEmployee(id)
          this.$message.success(res.message) // 删除成功
          if (this.list.length === 1) { // 当前页码数据只剩一条请求上一页
            this.pageParams.page--
            if (this.list.page <= 0) { // 页面不能为零,最少请求第一页的数据
              this.pageParams.page = 1
            }
          }
          this.loadEmployeeList() // 重新加载页面
        } catch (err) {
          this.$message.error(err)
        }
      }).catch(() => {})
    },
    cufn(pag) { // 切换分页
      this.pageParams.page = pag
      this.loadEmployeeList()
    },
    numfn(scope) { // 计算当前数据的序号
      // 通过作用域插槽传值
      // 每页多少条数据 * 现在所处的页码 减一 加上 当前索引加一
      return this.pageParams.size * (this.pageParams.page - 1) + scope.$index + 1
    },
    addfn() { // 新增员工成功后
      this.loadEmployeeList()
      this.showDialog = false
    },
    closefn() { // 清空表单状态
      this.$refs.addorEdit.resetForm()
    },
    btnExcel() { // 上传文件
      this.$refs.excel.handleUpload()
    },
    async   handleSuccess({ header, results }) { // 处理表格数据
      const userRelations = {
        '入职日期': 'timeOfEntry',
        '手机号': 'mobile',
        '姓名': 'username',
        '转正日期': 'correctionTime',
        '工号': 'workNumber',
        '部门': 'departmentName',
        '聘用形式': 'formOfEmployment'
      }
      // const obj = {
      //   入职日期: 44142,
      //   姓名: '老凡',
      // }
      // ["姓名", "手机号", "入职日期", "转正日期", "工号", "部门"]

      const arr = results.map((item) => {
        const obj = {}

        Object.keys(item).forEach(key => {
          const att = userRelations[key] // 属性名
          let val = item[key] // 值
          if (att === 'timeOfEntry' || att === 'correctionTime') { // 判断属性名是否为时间数据
            val = new Date(formatExcelDate(val))
          }
          obj[att] = val // 转成中国标准时间
        })
        return obj
      })

      try {
        const res = await importEmployee(arr)
        this.loadEmployeeList()
        this.$message.success(res.message)
      } catch (err) {
        this.$message.error(err)
      }
    },
    async exportfn() { // 导出excel文件
      // 获取到要处理的数据
      const res = await reqGetEmployeeList(this.pageParams)

      const { header, data } = this.handleData(res.data.rows) // 处理好的数据

      import('@/vendor/Export2Excel').then(excel => {
        // excel表示导入的模块对象
        excel.export_json_to_excel({
          header, // 表头 必填
          data, // 具体数据 必填
          filename: '导出文件名', // 文件名称
          autoWidth: true, // 宽度是否自适应
          bookType: 'xlsx' // 生成的文件类型
        })
      })
    },
    handleData(res) { // 处理后台数据导出表格需要的格式方法
      const mirror = { // 映射模板
        'id': '编号',
        'password': '密码',
        'mobile': '手机号',
        'username': '姓名',
        'timeOfEntry': '入职日期',
        'formOfEmployment': '聘用形式',
        'correctionTime': '转正日期',
        'workNumber': '工号',
        'departmentName': '部门',
        'staffPhoto': '头像地址'
      }

      const enKeys = Object.keys(res[0]) // 取出后台数据的 键名 数组形式保存

      const header = enKeys.map(enKey => { // 和映射模板对照,生成要用的标题名
        return mirror[enKey]
      })
      const data = res.map(obj => {
        return Object.values(obj) // 把对象的值都取出来变成组合成数组
      })
      return { header, data } // 把生成好的 标题 , 和对应的内容返会出去
    },
    hEditRole(id) { // 点击分配角色
      this.id = id
      this.showDialogRole = true
    },
    roleClose() { // 关闭分配角色弹出层
      this.id = ''
    }
  }

})
</script>
