<template>
  <div class="permission-container">
    <div class="app-container">
      <!-- 表格 -->
      <el-card>
        <div style="text-align: right; margin-bottom: 20px">
          <el-button type="primary" size="small" @click="addfn(1,'0')">添加权限</el-button>
        </div>
        <el-table
          border
          :data="list"
          row-key="id"
        >
          <el-table-column label="名称" prop="name" />
          <el-table-column label="标识" prop="code" />
          <el-table-column label="描述" prop="description" />
          <el-table-column label="操作">
            <template slot-scope="scope">
              <el-button
                v-if="scope.row.type===1"
                type="text"
                @click="addfn(2,scope.row.id,scope.row.pid)"
              >添加</el-button>
              <el-button type="text" @click="edit(scope.row.id,scope.row.pid)">编辑</el-button>
              <el-button type="text" @click="deletefn((scope.row.id))">删除</el-button>
            </template>
          </el-table-column>
        </el-table>
      </el-card>
    </div>
    <!--  -->
    <el-dialog
      :visible.sync="showDialog"
      :title="isEdit?'编辑':'添加'"
      :close-on-click-modal="false"
      :close-on-press-escape="false"
      @close="closefn"
    >
      <!-- 表单内容 -->
      <el-form
        ref="userForm"
        label-width="100px"
        :rules="rules"
        :model="formData"
      >
        <el-form-item label="权限名称" prop="name">
          <el-input v-model="formData.name" />
        </el-form-item>
        <el-form-item label="权限标识" prop="code">
          <el-input v-model="formData.code" />
        </el-form-item>
        <el-form-item label="权限描述" prop="description">
          <el-input v-model="formData.description" />
        </el-form-item>
        <el-form-item label="权限启用">

          <el-switch
            v-model="formData.enVisible"
            active-text="启用"
            active-value="1"
            inactive-text="不启用"
            inactive-value="0"
          />

        </el-form-item>
      </el-form>

      <template #footer>
        <div style="text-align: right;">
          <el-button @click="showDialog = false">取消</el-button>
          <el-button type="primary" @click="hSubmit">确定</el-button>
        </div>
      </template>
    </el-dialog>
    <!--  -->
  </div>
</template>

<script>
import { getPermissionList, addPermission, getPermissionDetail, updatePermission, delPermission } from '@/api'
import { tranListToTreeData } from '@/utils'

export default {

  data() {
    const validName = (rule, value, callback) => { // 名称 校验规则
      // 拿到当前的同级名字
      let lower = this.checkList.filter(item =>
        item.pid === this.myPid
      ).map(item => item.name)

      if (this.isEdit) { // 编辑时
        // 根据自己的pid和id过滤出同级,不含自己的名字
        lower = this.checkList.filter(item => item.pid === this.myPid && item.id !== this.formData.id).map(item => item.name)
      }

      // 判断名字是否和当前新增或编辑时名冲突
      if (lower.includes(value)) {
        callback(new Error('名字' + value + '已经被占用了'))
      } else {
        callback()
      }
    }
    const validCode = (rule, value, callback) => { // 部门标识 校验规则
      let code = this.checkList.map(item => item.code) // 获得所有标识

      if (this.isEdit) { // 编辑时
        code = this.checkList.filter(item => item.id !== this.formData.id).map(item => item.code)
        console.log(code)
      }

      code.includes(value) ? callback(new Error('标识' + value + '已经存在')) : callback()
    }
    return {
      validatorfn: function() {},
      myPid: '',
      list: [],
      checkList: [],
      showDialog: false, // 是否显示弹层
      formData: {
        name: '', // 名称
        code: '', // 权限标识
        description: '', // 描述
        enVisible: '0', // 开启
        pid: '', // 添加到哪个节点下
        type: '' // 类型
      },
      rules: {
        name: [{ required: true, message: '不能为空', trigger: 'blur' },
          { validator: validName, trigger: 'blur' }
        ],
        code: [
          { required: true, message: '不能为空', trigger: 'blur' },
          { validator: validCode, trigger: 'blur' }
        ],
        description: [{ required: true, message: '不能为空', trigger: 'blur' }]
      },
      isEdit: false
    }
  },
  created() {
    this.getList()
  },
  methods: {
    addfn(type, pid, mypid) { // 添加权限
      // 添加权限一级路由的访问权限也就是菜单的权限（左侧菜单栏的内容）

      // 添加的是路由对应页面里面按钮的操作权限
      // type 表示当前添加的权限类型, pid表示要加给谁
      this.isEdit = false
      this.showDialog = true
      this.myPid = mypid
      this.formData.pid = pid
      this.formData.type = type
    },
    hSubmit() { // 弹出层确定按钮
      this.$refs.userForm.validate( // 兜底校验
        (boo) => {
          if (boo) {
            this.isEdit ? this.editTo() : this.addTo()
          } else {
            this.$message.error('请认真填写表单')
          }
        }
      )
    },
    async addTo() { // 发送添加请求api
      try {
        const res = await addPermission(this.formData)
        this.$message.success(res.message)
        this.showDialog = false
        this.getList()
      } catch (error) {
        this.$message.error(error)
      }
    },
    async editTo() { // 发送编辑请求api
      try {
        const res = await updatePermission(this.formData)
        this.$message.success(res.message)
        this.showDialog = false
        this.getList()
      } catch (error) {
        this.$message.error(error)
      }
    },
    async edit(id, mypid) { // 编辑功能
      this.myPid = mypid
      this.isEdit = true
      this.showDialog = true
      try { // 数据回填
        const res = await getPermissionDetail(id)
        this.formData = res.data
      } catch (error) {
        console.log(error)
      }
    },
    closefn() { // 弹出层关闭回调
      this.formData = { // 清空表单数据
        name: '', // 名称
        code: '', // 权限标识
        description: '', // 描述
        enVisible: '0', // 开启
        pid: '', // 添加到哪个节点下
        type: '' // 类型
      }
      this.$refs.userForm.resetFields() // 清空表单验证
    },
    async getList() { // 获取权限列表
      try { // 获取权限列表
        const res = await getPermissionList()
        this.checkList = res.data
        this.list = tranListToTreeData(res.data)
      } catch (err) {
        console.log(err)
      }
    },
    deletefn(id) { // 删除权限
      this.$confirm('此操作将永久删除该文件, 是否继续?', '提示', {
        confirmButtonText: '确定',
        cancelButtonText: '取消',
        type: 'warning'
      }).then(async() => {
        const res = await delPermission(id)
        this.getList()
        this.$message({
          type: 'success',
          message: res.message
        })
      }).catch(() => {
        this.$message({
          type: 'info',
          message: '已取消删除'
        })
      }
      )
    }
  }
}
</script>
