<template>
  <div class="login-setting">
    账号设置
    <el-form
      ref="userForm"
      :rules="rules"
      :model="userInfo"
      label-width="120px"
      style="margin-left: 120px; margin-top: 30px"
    >
      <el-form-item label="姓名:" prop="username">
        <el-input v-model="userInfo.username" style="width:300px" />
      </el-form-item>
      <el-form-item label="密码:" prop="password">
        <el-input v-model="userInfo.password" type="password" style="width:300px" />
      </el-form-item>

      <el-form-item>
        <el-button
          type="primary"
          @click="btn"
        >更新</el-button>
      </el-form-item>
    </el-form>
  </div>
</template>

<script>
import { getUserDetailByIdAPI, saveUserDetailById } from '@/api'
export default {
  data() {
    return {
      userInfo: {
        username: '',
        password: '',
        id: ''
      },
      rules: {
        username: [{ required: true, message: '用户名不能为空', trigger: 'blur' }],
        password: [{ required: true, message: '密码不能为空', trigger: 'blur' }]
      }

    }
  },
  async created() {
    if (!this.$route.query.id) {
      this.$router.push('/employees' || '/')
      return
    }
    // 获取到个人信息数据
    const res = await getUserDetailByIdAPI(this.$route.query.id)
    const { username, password, id, mobile } = res.data
    this.userInfo = { username, password, id, mobile }
  },
  methods: {
    btn() { // 点击更新用户信息
      this.$refs.userForm.validate(async boo => {
        if (boo) {
          try {
            const res = await saveUserDetailById(this.userInfo)
            this.$message.success(res.message)
          } catch (err) {
            this.$message.error(err)
          }
        } else {
          this.$message.error('请检查表单')
        }
      })
    }
  }
}
</script>
