<template>
  <div class="user-info">
    <!-- 个人信息 -->
    <el-form
      label-width="220px"
      :rules="rules"
      :model="userInfo"
    >
      <!--手机 -->
      <el-row class="inline-info">
        <el-col :span="12">
          <el-form-item label="手机" prop="mobile">
            <el-input v-model="userInfo.mobile" />
          </el-form-item>
        </el-col>
      </el-row>
      <!-- 工号 入职时间 -->
      <el-row class="inline-info">
        <el-col :span="12">
          <el-form-item label="入职时间" prop="timeOfEntry">
            <el-date-picker
              v-model="userInfo.timeOfEntry"
              type="date"
              class="inputW"
              value-format="yyyy-MM-dd"
            />
          </el-form-item>
        </el-col>
      </el-row>
      <!-- 员工照片 -->
      <el-row class="inline-info">
        <el-col :span="12">
          <el-form-item label="员工头像">
            <!-- 放置上传图片 -->
            <UploadImg v-model="imageUrl" />
            <img>
          </el-form-item>
        </el-col>
      </el-row>
      <!-- 保存个人信息 -->
      <el-row class="inline-info" type="flex" justify="center">
        <el-col :span="12">
          <el-button type="primary" @click="btn">保存更新</el-button>
          <el-button @click="$router.back()">返回</el-button>
        </el-col>
      </el-row>
    </el-form>
  </div>
</template>
<script>
import UploadImg from '@/components/UploadImg/index'
import { getUserDetailByIdAPI, saveUserDetailById } from '@/api'
export default {
  components: {
    UploadImg
  },
  data() {
    return {
      imageUrl: '',
      userInfo: {
        mobile: '',
        timeOfEntry: ''
      },
      rules: {
        mobile: [
          { required: true, message: '手机号不能为空', trigger: 'blur' },
          { pattern: /^1[345678]\d{9}$/, message: '请输入合法的手机号', trigger: 'blur' }
        ],
        timeOfEntry: [{ required: true, message: '入职时间不能为空', trigger: 'change' }]
      }
    }
  },
  async created() {
    // 获取到个人信息数据
    if (!this.$route.query.id) {
      this.$router.push('/employees' || '/')
      return
    }

    const res = await getUserDetailByIdAPI(this.$route.query.id)

    this.userInfo = res.data

    this.imageUrl = res.data.staffPhoto // 获取头像并显示
  },
  methods: {
    async  btn() { // 点击更新用户信息
      try {
        this.userInfo.staffPhoto = this.imageUrl // 保存头像

        const res = await saveUserDetailById(this.userInfo)

        this.$message.success(res.message)
      } catch (err) {
        this.$message.error(err)
      }
    }
  }
}
</script>

<style scoped lang="scss">
  .user-info{
    padding-top:20px;
  }
</style>
