<template>
  <div>
    <el-tree
      ref="tree"
      :data="permissionData"
      :props="{ label: 'name' }"
      default-expand-all
      :show-checkbox="true"
      :check-strictly="true"
      node-key="id"
    />
    <!-- default-expand-all 默认展开 -->
    <!-- :show-checkbox="true"   显示选择框 -->
    <!--:check-strictly="true" 可以关闭父子关联 -->
    <!-- 底部 -->
    <el-row slot="footer" type="flex" justify="center">
      <el-col :span="6">
        <el-button size="small" @click="cancel">取消</el-button>
        <el-button size="small" type="primary" @click="hSubmit">确定</el-button>
      </el-col>
    </el-row>
    <!-- 底部 -->
  </div>
</template>

<script>
import { getPermissionList, getRoleDetail, assignPerm } from '@/api'
import { tranListToTreeData } from '@/utils/index'
export default {
  props: {
    // eslint-disable-next-line vue/require-default-prop
    id: {
      type: String
    }
  },
  data() {
    return {
      permissionData: [], // 存储权限数据
      permIds: []
    }
  },
  async created() {
    // 获取权限列表
    const res = await getPermissionList()
    this.permissionData = tranListToTreeData(res.data)

    // 根据roleId获取当前这个角色已经具备的权限
    const arr = await getRoleDetail(this.id)
    this.$refs.tree.setCheckedKeys(arr.data.permIds)
  },
  methods: {
    cancel() { // 取消
      this.$emit('clone')
    },
    async  hSubmit() { // 确定
      try {
        const permIds = this.$refs.tree.getCheckedKeys()
        const res = await assignPerm({ id: this.id, permIds })
        this.$emit('clone')
        this.$message.success(res.message)
      } catch (error) {
        this.$message.error(error)
      }
    }

  }
}
</script>

<style>

</style>
